@inherits LayoutComponentBase

<header>
    <h1>Kana-Quiz</h1>

    <nav>
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="counter">Counter</NavLink>
        <NavLink href="fetchdata">Fetch data</NavLink>
    </nav>
</header>

<main>
    @Body
</main>

<footer>
    KanaQuiz Version 0.1.0
</footer>