/*Dependencies*/
@import "../lib/modern-normalize/modern-normalize.min.css";

/*Components & utilities*/
@import "utils/layout.scss";

header {
    h1 {
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: center;

        a {
            color: grey;
            padding: 10px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                color: Highlight;
            }
        }
    }
}

main {
    @import "home.scss";
    @import "question.scss";
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
}