@page "/"

<section id="home" class="container">
    <h2><span id="tippy-hello">こんにちは</span></h2>

    <p>Welcome to Kana-Quiz. This app is actually in work in progress. Some features are unavailable.</p>
    <p>When you see kana / hiragana / kanji in red, you can hover your mouse over them to translate them.</p>
    <p>You can choose an activity with the menu.</p>
</section>